body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color:lightcyan;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    color: #4CAF50;
}

label,
input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: 10px;
}

button:hover {
    background-color: red;
}

.result {
    margin-top: 20px;
    font-weight: bold;
}

.imag {
    position: absolute;
    left: 30px;
    top: 100px;
}

/* Media Query para dispositivos com largura de tela até 768px (tablets e smartphones) */
@media (max-width: 768px) {
    body {
        margin: 10px;
    }

    .container {
        padding: 0;
    }

    button,
    input,
    label {
        margin-bottom: 10px;
    }

    .imag {
        position: static;
        margin-top: 20px;
    }
}
